* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
.content {
    padding-top: 50px;
}

.content-1 {
    max-width: 1200px;
}

.content-1-1 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 110px;
}

.title-subhny {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico', cursive;

}

.title {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
}

.content-1-left {
    flex: 0 0 41.66667%;
    max-width: 33.66667%;
}

.content-1-right {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding-left: 87px;
}

.content-1-right p {
    font-size: 18px;
    line-height: 28px;
    font-family: 'Quicksand', sans-serif;
}

.mt-3 {
    margin-top: 16px;
    font-family: 'Quicksand', sans-serif;
}

.clear {
    clear: both;
}

/* home services */
#feature {
    position: relative;
}

.home-1 {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.home-1-1 {
    display: flex;
    flex-wrap: wrap;
}

.home-icon {
    flex: 0 0 33.33333%;
    max-width: 30.8%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.box-wrap {
    padding: 40px 40px;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
    background-color: #fff;
    position: relative;
    border: 1px solid var(--border-color-light);
}

.box-wrap-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
}

.icon {
    width: 70px;
    height: 70px;
    text-align: center;
    background: #f9f8ff;
    line-height: 70px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.icon span.fa {
    color: #ff6600;
    font-size: 25px;
    line-height: 70px;
}

.icon span.fas {
    color: #ff6600;
    font-size: 25px;
    line-height: 70px;
}

.info p {
    font-size: 18px;
    line-height: 28px;
    font-family: 'Quicksand', sans-serif;
}

.box-wrap h4 a {
    font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
    display: block;
    color: #232121;
}

.box-wrap:hover .icon {
    background-color: #ff6600;
    transition: 0.3s ease-in-out;
}

.box-wrap h4 a:hover {
    color: #ff6600;
}

.box-wrap:hover span {
    color: #fff;
}

/* blog posts */
.bolg-posts {
    background-color: #f7f7f7;
}

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.header-title {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.care {
    position: relative;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: none;
    border-radius: 0;
    width: 90%;
}

.care-header {
    background-color: rgba(0, 0, 0, 0.03);
}

.care-img {
    width: 100%;
    display: block;
}

.receipe {
    background: #ff6600;
    color: #fff;
    padding: 3px 20px;
    border-radius: 35px;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
    letter-spacing: .05em;
}

.blog-posts .meta-info {
    opacity: 1;
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
    letter-spacing: .02em;
    font-family: 'Quicksand', sans-serif;
}

.blog-desc {
    display: block;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    color: black;
    margin-top: 25px;
    margin-bottom: 15px;
}

.card {
    position: relative;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: none;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.post-pos {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.position-relative {
    position: relative
}

.card-body p {
    font-size: 18px;
    line-height: 28px;
    color: gray;
    font-family: 'Quicksand', sans-serif;
}

.p-footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.p-meta-info {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-gap: 10px;
    justify-content: flex-start;
}

.post-img-anchor {
    font-weight: 700;
    color: black;
    letter-spacing: .02em;
}

.p-meta-info img {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
}

.p-meta-info a {
    font-weight: 700;
    color: black;
    letter-spacing: .02em;
}

.read {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .02em;
    color: black;
    opacity: .9;
}

/* testimonials */
.container {
    max-width: 1200px;
}

.stage-outer {
    position: relative;
    overflow: hidden;
}

.testimonial-content {
    max-width: 700px;
    margin: auto;
}

.comment-img img {
    left: 0px;
    top: 0px;
    width: 85px;
    height: 85px;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px
}

.mb-5 {
    margin-bottom: 48px;
}

.testimonial blockquote {
    margin: 10px 150px 10px;
}

.comment-p q {
    font-size: 24px;
    line-height: 36px;
    color: black;
    font-weight: 600;
}

.testimonial p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    color: gray;
    font-family: 'Quicksand', sans-serif;
}

.text-center {
    text-align: center;
    margin-top: 20px;
}

.people-info {
    font-weight: 600;
    font-size: 20px;
}

.people-info p {
    margin-top: 10px;
}
.slick-dots{
    text-align: center;
    margin-top: 10px;
}
.slick-active button{
    background: #ff6600;
}
.slick-dots li{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    border-radius: 10px;
}
.slick-dots li button:hover{
   background: #ff6600;
}
/* Ads video  */